
.nav-bar {
  height: 120px;
  width: auto;
  background-color: #735bb5;
  color: #FFFFFF;
  padding-top: 50px;
  /* border-radius: 10px; */
  font-family: "Bungee";
  position: relative;
  z-index: -1;
}

.header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  /* background-image: url("https://www.transparenttextures.com/patterns/connected.png"); */


  background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);

background-blend-mode: screen;

}


.logo {
  font-family: "bungee";
  font-size: 150%;
  padding-left: 1.5em;
}

.new-tweet {
  font-family: "source sans pro";
  float: right;
  padding-right: 1.5em;
}

.down-arrow {
  display: flex;
  justify-content: center;
  color: magenta;
}

