
.nav-bar {
  height: 12%;
  width: 100%;
  background-color: #735bb5;
  color: #FFFFFF;
  padding-top: 2rem;
  font-family: "Bungee";
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.header {
  display: flex;
  height: 460px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  /* background-image: url("https://www.transparenttextures.com/patterns/connected.png"); */
  background:
	  linear-gradient(
		limegreen,
		transparent
	  ),
	  linear-gradient(
		90deg,
		skyblue,
		transparent
	  ),
	  linear-gradient(
		-90deg,
		coral,
		transparent
	  );
  background-blend-mode: screen;
}


.logo {
  font-family: "bungee";
  font-size: 1.9rem;
  padding-left: 1.5em;

}

.new-tweet {
  font-family: "source sans pro";
  padding-right: 1.5em;
}

.down-arrow {
  display: flex;
  justify-content: center;
  color: magenta;
}

/* .down-arrow:hover {

} */

.profile-picture {
  margin-top: 7rem;
}
