
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #99c7db;
  width: 100%;
}

.tweet-input-container {
  width: 100%;
  margin: auto;
}

.humming-text {
  font-family: "source sans pro";
  color: rgb(117, 40, 109);
}

.upper-container textarea {
  background-color: #99c7db;
  border: none;
  resize: none;
  height: 4em;
  width: 100%;
  padding: 2%;
}


.border-area {
  border-top: 5px solid rgb(117, 40, 109);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-button {
  background-color: #4056A1;
  border: none;
  font-family: "bungee";
  color: white;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.counter {
  font-family: "bungee";
  color: rgb(117, 40, 109);
}

.article {

}