
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  padding-bottom: 2rem;
  background-color: #99c7db;
  width: 90%;
}

.tweet-input-container {
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}

.upper-container textarea {
  background-color: #99c7db;
  border: none;
  resize: none;
  height: 4em;
  width: 100%;
  padding: 2%;
}


.border-area {
  border-top: 5px solid #735bb5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-button {
  background-color: #735bb5;
  border: none;
  font-family: "bungee";
  color: white;
  margin-top: .5rem;
}

.counter {
  font-family: "bungee";
  color: #735bb5;
  margin-top: .5rem;
}

/* .tweet-container {
  color: #735bb5;
  border-style: solid;
  border-color: #735bb5;
  border-width: .3rem;
  font-family: "source sans pro";
} */

.first-tweet-container {
  color: #735bb5;
  border-style: solid;
  border-color: #735bb5;
  border-width: .3rem;
  font-family: "source sans pro";
  margin-bottom: 3rem;
}
.second-tweet-container {
color: #735bb5;
  border-style: solid;
  border-color: #735bb5;
  border-width: .3rem;
  font-family: "source sans pro";
}

.first-tweet-container:hover {
  box-shadow:  5px 5px 8px #9e91c2;
  }

.second-tweet-container:hover {
  box-shadow:  5px 5px 8px #9e91c2;
  }



.tweet-container header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.tweet-container footer {
  border-top: 4px solid #735bb5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

.tiny-icons {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  width: 175px;
}

.user-name {
  color: #9e91c2;

}

.user-tweet {
  margin-left: 1.5rem;
}

.user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22%;
  justify-content: space-between;
}

.flag-icon:hover {
  color: magenta;
}
.retweet-icon:hover {
  color: magenta;
}
.thumbs-icon:hover {
  color: magenta;
}
